[Desktop Entry]
Name=Libation
Exec=/usr/bin/libation
Icon=libation
Comment=Liberate your Audiobooks
Terminal=false
Type=Application
MimeType=x-content/unix-software;
