<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Libation</string>
	<key>CFBundleName</key>
	<string>Libation</string>
	<key>LSArchitecturePriority</key>
	<string>ARCHITECTURE_STRING</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15.0</string>
	<key>CFBundleIdentifier</key>
	<string>org.libation.macos</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleIconFile</key>
	<string>libation.icns</string>
	<key>CFBundleVersion</key>
	<string>VERSION_STRING</string>
</dict>
</plist>