# build-windows.yml
# Reusable workflow that builds the Windows versions of Libation.
---
name: build

on:
  workflow_call:
    inputs:
      version_override:
        type: string
        description: "Version number override"
        required: false
      run_unit_tests:
        type: boolean
        description: "Skip running unit tests"
        required: false
        default: true
      architecture:
        type: string
        description: "CPU architecture targeted by the build."
        required: true
      dotnet_version:
        type: string
        description: ".NET version to target"
        required: true

env:
  DOTNET_CONFIGURATION: "Release"

jobs:
  build:
    name: "Windows-${{ matrix.release_name }}-${{ inputs.architecture }}"
    runs-on: windows-latest
    env:
      OUTPUT_NAME: "Windows-${{ matrix.release_name }}-${{ inputs.architecture }}"
      RUNTIME_ID: "win-${{ inputs.architecture }}"
    strategy:
      matrix:
        ui: [Avalonia]
        release_name: [chardonnay]
        include:
          - ui: WinForms
            release_name: classic
            prefix: Classic-
    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ inputs.dotnet_version }}
          
      - name: Get version
        id: get_version
        run: |
          if ("${{ inputs.version_override }}".length -gt 0) {
            $version = "${{ inputs.version_override }}"
          } else {
            $version = (Select-Xml -Path "./Source/AppScaffolding/AppScaffolding.csproj" -XPath "/Project/PropertyGroup/Version").Node.InnerXML.Trim()
          }
          "version=$version" >> $env:GITHUB_OUTPUT

      - name: Unit test
        if: ${{ inputs.run_unit_tests }}
        working-directory: ./Source
        run: dotnet test

      - name: Publish
        working-directory: ./Source
        run: |
          $PUBLISH_ARGS=@(
            "--runtime", ${{ env.RUNTIME_ID }},
            "--configuration", ${{ env.DOTNET_CONFIGURATION }},
            "--output", "./bin/Publish/${{ env.OUTPUT_NAME }}",
            "-p:PublishProtocol=FileSystem",
            "-p:SelfContained=true")

          dotnet publish  @("publish", "Libation${{ matrix.ui }}/Libation${{ matrix.ui }}.csproj") + $PUBLISH_ARGS
          #dotnet publish  @("publish", "LoadByOS/WindowsConfigApp/WindowsConfigApp.csproj") + $PUBLISH_ARGS
          #dotnet publish  @("publish", "LibationCli/LibationCli.csproj") + $PUBLISH_ARGS
          #dotnet publish  @("publish", "Hangover${{ matrix.ui }}/Hangover${{ matrix.ui }}.csproj") + $PUBLISH_ARGS

      - name: Zip artifact
        id: zip
        working-directory: ./Source/bin/Publish
        run: |
          $bin_dir = "${{ env.OUTPUT_NAME }}\"
          $delfiles = @(
            "WindowsConfigApp.exe",
            "WindowsConfigApp.runtimeconfig.json",
            "WindowsConfigApp.deps.json"
            )
          foreach ($file in $delfiles){ if (test-path $bin_dir$file){ Remove-Item $bin_dir$file } }
          $artifact="${{ matrix.prefix }}Libation.${{ steps.get_version.outputs.version }}-windows-${{ matrix.release_name }}-${{ inputs.architecture }}"
          "artifact=$artifact" >> $env:GITHUB_OUTPUT
          Compress-Archive -Path "${bin_dir}*" -DestinationPath "$artifact.zip"

      - name: Publish artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ steps.zip.outputs.artifact }}.zip
          path: ./Source/bin/Publish/${{ steps.zip.outputs.artifact }}.zip
          if-no-files-found: error
          retention-days: 7
