# build-linux.yml
# Reusable workflow that builds the Linux and MacOS (x64 and arm64) versions of Libation.
---
name: build

on:
  workflow_call:
    inputs:
      version_override:
        type: string
        description: "Version number override"
        required: false
      run_unit_tests:
        type: boolean
        description: "Skip running unit tests"
        required: false
        default: true
      runs_on:
        type: string
        description: "The GitHub hosted runner to use"
        required: true
      OS:
        type: string
        description: >
          The operating system targeted by the build.

          There must be a corresponding Bundle_$OS.sh script file in ./Scripts
        required: true
      architecture:
        type: string
        description: "CPU architecture targeted by the build."
        required: true
      dotnet_version:
        type: string
        description: ".NET version to target"
        required: true

env:
  DOTNET_CONFIGURATION: "Release"
  RELEASE_NAME: "chardonnay"

jobs:
  build:
    name: "${{ inputs.OS }}-${{ inputs.architecture }}"
    runs-on: ${{ inputs.runs_on }}
    env:
      OUTPUT_NAME: "Linux-${{ inputs.architecture }}-${{ env.RELEASE_NAME }}"
      RUNTIME_ID: "linux-${{ inputs.architecture }}"
    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ inputs.dotnet_version }}

      - name: Get version
        id: get_version
        run: |
          inputVersion="${{ inputs.version_override }}"
          if [[ "${#inputVersion}" -gt 0 ]]
          then
            version="${inputVersion}"
          else
            version="$(grep -Eio -m 1 '<Version>.*</Version>' ./Source/AppScaffolding/AppScaffolding.csproj | sed -r 's/<\/?Version>//g')"
          fi
          echo "version=${version}" >> "${GITHUB_OUTPUT}"

      - name: Unit test
        if: ${{ inputs.run_unit_tests }}
        working-directory: ./Source
        run: dotnet test

      - name: Publish
        id: publish
        working-directory: ./Source
        run: |
          PUBLISH_ARGS="--runtime ${{ env.RUNTIME_ID }} --configuration ${{ env.DOTNET_CONFIGURATION }} --output ./bin/Publish/${{ env.OUTPUT_NAME }} -p:PublishProtocol=FileSystem -p:SelfContained=true"

          dotnet publish LibationAvalonia/LibationAvalonia.csproj $PUBLISH_ARGS
          #dotnet publish LoadByOS/LinuxConfigApp/LinuxConfigApp.csproj $PUBLISH_ARGS
          #dotnet publish LibationCli/LibationCli.csproj $PUBLISH_ARGS
          #dotnet publish HangoverAvalonia/HangoverAvalonia.csproj $PUBLISH_ARGS

      - name: Build bundle
        id: bundle
        working-directory: ./Source/bin/Publish/${{ env.OUTPUT_NAME }}
        run: |
          BUNDLE_DIR=$(pwd)
          echo "Bundle dir: ${BUNDLE_DIR}"
          cd ..
          SCRIPT=../../../Scripts/Bundle_${{ inputs.OS }}.sh
          chmod +rx ${SCRIPT}
          ${SCRIPT} "${BUNDLE_DIR}" "${{ steps.get_version.outputs.version }}" "${{ inputs.architecture }}"
          artifact=$(ls ./bundle)
          echo "artifact=${artifact}" >> "${GITHUB_OUTPUT}"

      - name: Publish bundle
        uses: actions/upload-artifact@v5
        with:
          name: ${{ steps.bundle.outputs.artifact }}
          path: ./Source/bin/Publish/bundle/${{ steps.bundle.outputs.artifact }}
          if-no-files-found: error
          retention-days: 7
